version: "3"
services:
  atc-frontend:
    platform: linux/amd64
    env_file:
      - .env
    environment:
      - BLENDER_URL=http://flight-blender:8000
      - NODE_ENV=production
      - PORT=5050
    build: .
    image: atc-frontend
    container_name: atc-frontend
    restart: unless-stopped
    ports:
      - "5050:5050"
    networks:
      - interop_ecosystem_network

networks:
  interop_ecosystem_network:
    external: true
