version: "3"
services:
  tile38:
    platform: linux/amd64
    image: tile38/tile38
    ports:
      - "9851:9851"
    command: [ "tile38-server" ]
    container_name: "tile38"

  redis-spotlight:
    platform: linux/amd64
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./config/redis.conf:/redis.conf
    command: [ "redis-server", "/redis.conf" ]
    container_name: "redis-spotlight"
    env_file:
      - .env

  spotlight:
    platform: linux/amd64
    command: npm start
    env_file:
      - .env
    environment:
      - BLENDER_URL=http://flight-blender:8000
    build: .
    image: openskiessh/flight-spotlight
    container_name: flight-spotlight
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis-spotlight
      - tile38
    volumes:
      - ./server.js:/usr/src/app/server.js # Mount server.js for live updates
      - ./util:/usr/src/app/util # Mount util for dependencies
      - ./routes:/usr/src/app/routes # Mount routes
      - ./views:/usr/src/app/views # Mount local views for live editing
      - ./static:/usr/src/app/static # Mount static assets including 3D models
      - ./data:/usr/src/app/data # Persist user database
    ports:
      - "5050:5050"
    networks:
      - default
      - interop_ecosystem_network

networks:
  interop_ecosystem_network:
    external: true
